node_modules
.env
venv
alembic
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.egg-info
*.egg
*.coverage
*.cover
*.mypy_cache
*.pytest_cache
*.hypothesis
*.tox
*.coverage.*
*.coverage.*
*.hypothesis.*
